<!DOCTYPE html>
<html>
  <body>
    <h2>Details:</h2>
    <div style="display:flex;">
      <div style="margin-right: 20px; font-weight: bold;">
        <div>Abbreviation:</div>
        <div>Driver:</div>
        <div>Car:</div>
        <div>Start time:</div>
        <div>End time:</div>
        <div>Speed:</div>
      </div>
      <div>
        <div>{{ data.abbreviation }}</div>
        <div>{{ data.driver }}</div>
        <div>{{ data.car }}</div>
        <div>{{ data.start_time }}</div>
        <div>{{ data.end_time }}</div>
        <div>{{ data.speed }}</div>
      </div>
    </div>
  </body>
</html>
